* {
    padding: 0;
    margin: 0;
}
.flex_container {
    width: 70%;
    margin: auto;
}
header {
    margin: auto;
    width: 60%;
}
li {
    display: inline-block;
    text-align: center;
    margin: 1rem 2rem 1rem 1rem;
}
article {
    background-color: #cccccc;
    margin: 0.2rem 0.2rem;
    width: 100%;
}

ul {
    display: inline-block;
}
img {
    width: 4rem;
}
.buttons {

    float: right;
}


/*popup bar for messages*/

#popupbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#popupbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
