* {
    padding: 0;
    margin: 0;
}
.flex_container {
    width: 90%;
    margin: auto;
}
header {
    margin: 2rem auto;
    width: 60%;
}
input {
    display: inline-block;
    box-sizing: content-box;
    min-width: 50%;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    margin-left: 1rem;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0,142,198,1);
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
button {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 1rem 1rem;
    border: none;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #e59d32;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.inline li {
    display: inline-block;
    margin: 1rem;

}
article {
    background-color: #cccccc;
    margin: 0.2rem 0.2rem;
    width: 100%;
}

img {
    width: 4rem;
}
.postDetails ul {
    margin: auto;
}
.postDetails li {
    display: block;
}
.postDetails img {
    display: block;
    width: 30%;
}
h3 {
    color: #e59d32;
}
h3:hover {
    color: aqua;
}
a {
    color: #e59d32;
}
a:hover {
    color: aqua;
}
/*popup bar for messages*/

#popupbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#popupbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
